* {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}



.header-background {
    position: absolute;
    height: 508;
    width: 375px;
    top: 0;
    left: 0;
    filter: contrast(.75)
}

.profile-pic {
    position: absolute;
    top: 359px;
left: 176px;
width: 162px;
height: 162px;
}

.header-vectors {
    top: 105px;
left: 210px;
width: 128px;
height: 39px;
position: absolute;
}

.vector {
    position: absolute;
    top: 0;
    width: 40px;
height: 39px; 
border: 3px solid white;
border-radius: 50%;
}

.linked-white {
    left: 0;
    position: absolute;
}
.linked {
 top: 12px;
 left: 12px;
 position: absolute;
}

.git-white {
    left: 44px;
    position: absolute;
}
.git {
    top: 11px;
    left: 55px;
position: absolute;
}

.stack-white {
    left: 88px;
    position: absolute;
}

.stack {
    top: 9px;
    left: 98px;
    position: absolute;
}

.header-textwrapper {
    position: relative;
    top: 176px;
left: 41px;
width: 219px;
height: 149px;
margin: 0;
}

.header-name-wrapper {
    top: 0;
left: 0;
width: 206px;
height: 15px;
font-family: 'Roboto';
font-size: 13px;
position: absolute;

}

.portfolio {
    left: 0px;
    text-align: left;
font:  13px/15px 'Roboto';
letter-spacing: 0.52px;
color: #FFFFFF;
opacity: 1;

}

.header-name {
    top: 0;
left: 98px;

height: 15px;
    text-align: left;
font: Bold 13px/15px 'Roboto';
letter-spacing: 0.52px;
color: #FFFFFF;
opacity: 1;
position: absolute;
}

.main-header-text {
top: 20px;
left:0;
width: 212px;
height: 95px;
text-align: left;
font: bold 40px/49px 'Montserrat';
letter-spacing: 0;
color: #FFFFFF;
opacity: 1;
margin: 0;
position: absolute
}

.plus-more {
    position: absolute;
    top: 120px;
left: 0px;
width: 219px;
height: 29px;
text-align: left;
font: Bold 24px/29px 'Montserrat';
letter-spacing: 0;
color: #FFFFFF;
opacity: 1;
white-space: nowrap;
}

.about-me {
    position: absolute;
    top: 513px;
    left: -1.0767822265625px;
width: 377px;
height: 342px;
background: #F4F4F4 0% 0% no-repeat padding-box;
opacity: 1;
z-index: -1;
}

.about-me-text {
    position: absolute; 
    top: 58px;
left: 38px;
width: 302px;
height: 228px;
text-align: left;
font: 17px/29px 'Montserrat';
letter-spacing: 0;
color: #000000;
opacity: 1;
}

.about-dash {
    color: red;
    font-size: 40px;
    position: relative;
    top: 3px;
}
.about-dot {
    color: red;
    font-size: 25px;
    position: relative;
    left: -2px;
    top: 1px;
}

.tech-list {
    position: absolute;
    width: 377px;
height: 342px;
left: -1.0767822265625px;
top: 855px;
display: flex;
flex-direction: column;
align-items: center;
}

.tech-head {
    position: absolute;
    top: 60px;
    /* left: 135px; */
    width: 82px;
height: 33px;
background: #FA382F 0% 0% no-repeat padding-box;
justify-content: center;
display: flex;
align-items: center;
font: Bold 22px/27px 'Montserrat';
letter-spacing: 0;
color: #FFFFFF;
opacity: 1;
}

.tech-list-text {
    position: absolute;
    top: 126px;
    /* left: 36px; */
    width: 303px;
height: 182px;
text-align: center;
font:  17px/29px 'Montserrat';
letter-spacing: 0;
color: #000000;
opacity: 1;
}

.featured-projects {
    position: absolute;
    left: -2.2335205078125px;
    top: 1198px;
width: 377px;
height: 1357px;
background: #F4F4F4 0% 0% no-repeat padding-box;
opacity: 1;
}

.featured-head {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 57px;
    left: 53px;
width: 269px;
height: 33px;
background: #FA382F 0% 0% no-repeat padding-box;
opacity: 1;
color: white;
text-align: left;
font: Bold 22px/27px Montserrat;
letter-spacing: 0;
color: #FFFFFF;
}