* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:  center;
   
}

a:hover {
    cursor: pointer;
    opacity: .7;
}

a {
    text-decoration: none;
    color: inherit;
}

.desktop {
    display: none;
}
/**** HEADER *****/

header {
    width: 100%;
    height: 508px;
   position: relative;
    padding: 60px 36px 0 36px;
    display: flex;
    flex-direction: column;
  align-items:  flex-end;
  justify-content: space-between;
}

.header-filter {
    position: absolute; 
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    filter: contrast(40%);
    background-image: url(/assets/bookshelf.jpeg);
    z-index: -1;
    background-size: cover;
}


.profile-pic {
width: 172px;
height: 172px;
position: relative;
top: 10px;
border-radius: 50%;
border: 3px solid white;
}

.header-vectors {
display: flex;
z-index: 3;
}

.icon {  
border: 3px solid white;
border-radius: 50%;
margin-right: 5px;
padding: 7px 9px;
}

.header-textwrapper {  
width: 219px;
color: white;
display:flex;
flex-direction: column;
justify-content: space-around;
align-self: flex-start;
font: bold 40px/49px 'Montserrat';

}

.main-header-text {
    margin: 0;
    font: bold 40px/49px 'Montserrat';

}
.header-name-wrapper {    
width: 95%;
font-family: 'Roboto';
font-size: 13px;
letter-spacing: .5px;
display: flex;
justify-content: space-between;
margin: 0;

}
.portfolio {   
font-weight: normal;
}

.plus-more { 
font: bold 24px/29px 'Montserrat';
white-space: nowrap;
margin: 0;
}

/**** MAIN BODY ****/

.sections {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
padding: 50px 36px;
}

.grey {
    background: #F4F4F4;
}

.blue {
    background: #072bce;
}

.sections-header {
    display: flex;
    justify-content: center;
     align-items: center;
    padding: 0 20px;
    height: 33px;
    background: #FA382F; 
    color: white;
    font: Bold 22px/27px 'Roboto';
    margin-bottom: 30px;
    
    }

    /**** ABOUT ME ****/

.about-me-text {
font: 17px/29px 'Montserrat';
margin: 0;
}

.about-dash {
    
    color: red;
    font-size: 40px;
    position: relative;
    top: 4px;
    left: 8px;
}
.about-dot {
    
    color: red;
    font-size: 25px;
    position: relative;
    top: 2px;
}

/**** TECH LIST ****/

.tech-list-text {
text-align: center;
font:  17px/29px 'Montserrat';  
margin: 0;
}

/**** FEATURED PROJECT ****/


.flex-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    
}

.card {
    width: 100%;
}

.align-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.featured-image {
  opacity: .4; 
   height: 100%;
   width:100%;
   align-self: center;
}
.image-overlay {
    position: absolute;
    color: #FDDFE7;
    font: bold 16px 'Montserrat';
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
}

.img-wrapper {
    position: relative; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    max-width: 400px;
   align-self: center;
   overflow: hidden;
}


.featured-text {
    width: 100%;
    max-width: 400px;
    font: 17px/32px 'Roboto';
    margin: 15px 0;
    align-self: center;

}
.weather-app {
    color: red;
    font: bold 17px 'Roboto';
    margin: 0;
}
.link {
    color: red;
    font:  17px 'Roboto';
    text-decoration: underline;
}

.tech-labels-wrapper {
    display: flex;
    margin: 15px 0 35px 0;
}
.tech-labels {
    margin: 0 5px 0 0;
    background: #FDDFE7;
    color: #2B2E34;
    font: 12px 'Roboto';
    padding: 3px 8px;
    white-space: nowrap;
}
.other-projects-header {
   
color: #FA382F; 
font: Bold 22px/27px 'Montserrat';
margin: 50px 0 30px 0;


}

/**** THOUGHTS ****/
.thoughts-image-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    
   
}

.image-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thoughts-image {
    margin-bottom: 15px;
    align-self: center;
    width: 100%;
    max-width: 400px;
    
}
.clock-image {
margin-bottom: 15px;
width: 100%;
}

.thoughts-date {
    color: #FA382F; 
    font: 17px 'Roboto'
}
.thoughts-heading {
 font: bold 21px/32px 'Roboto';
}

.other-thoughts-text {
    font: bold 17px 'Roboto';
    margin: 15px 0;
    
}

.more-thoughts {
    align-self: flex-start;

}

/**** SKILLS ****/



.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
   
}

.skills-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; 
}

ul {
   list-style: none;
}

li {
    font: 17px/28px 'Roboto';
    
}


/**** MORE INFO ****/ 


.more-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.vectors {
    display: flex;
    
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.red-vector {
    border: 3px solid red;
    border-radius: 50%;
    padding: 12px 14px;
   
}



figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 0
}

figcaption {
    color: red;
    display: flex;
    font: bold 11px 'Roboto';
    margin-top: 15px;
    
}

/**** CONTACT ****/

.contact-heading {
    font: bold 21px 'Montserrat';
    color: white;
    margin-bottom: 30px;
}

.contact-text {
    text-align: center;
    color: white;
    font: 17px 'Roboto';
    letter-spacing: .5px;
    font-weight: lighter;
    line-height: 30px;
    margin-bottom: 60px;
}

.contact-name {
    font-weight: bold;
}

/* MEDIA QUERIES  */



@media (min-width: 768px) {

    .desktop {
        display: block;
    }


    header {
        padding: 60px 140px 0 140px;
        height: 360px;
    }

.header-filter {
  background-size: contain;
}

.profile-pic {
    width: 200px;
    height: 200px;
    position: relative;
    top: -105px;
    }

    .header-textwrapper {
        width: 280px;
    }

    .header-name-wrapper {    
        width: 85%;
        font-size: 16px;
        }

        .main-header-text {
            font: bold 46px/53px 'Montserrat';
            letter-spacing: 1px;
            }
            
            .plus-more { 
            font: Bold 29px/30px 'Montserrat';
           
            }


.sections {
    padding: 50px 140px;
}

    .big-text {
        font: 20px/32px 'Montserrat';
    }
    .flex-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
        margin-left: 15px;
        
    }
  
    .img-wrapper {
       display: flex;
       flex-direction: column;
       align-items: center;
       max-width: none;
    }

    .featured-text {
        max-width: none;
    }
   
    

    .featured-text-desktop {
       
        text-decoration: underline;
    }
    .weather-app {
        text-decoration: underline;
    }

    

    .thoughts-image {
        content: url(/assets/thoughts-large.png);
        width: 100%;
        max-width: none; 
    }
    
    
    .other-thoughts-text {
        width: 100%;
        text-decoration: underline;
    }
    .thoughts-date {
        text-decoration: underline;
    }

    .skills-column {
        width: 25%;
    }
    
}
