* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* position: absolute; */
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items:  center;
   
}

header {
    width: 100%;
    height: 508px;
    position: relative;
}

.header-filter {
    width: 100%;
    height: 100%;
    filter:contrast(75%);
    background-image: url(/assets/slack-imgs.png);
    position: absolute
}

.profile-pic {
    position: absolute;
    top: 70%;
right: 10%;
/* try left: 65% when you flip to desktop */
width: 162px;
height: 162px;
}

.header-vectors {
position: absolute;
display: flex;
top: 25px;
right: 10%;
}

.linked {
 border: 3px solid white;
 border-radius: 50%;
 padding: 8px 9px 6px 9px;
 margin-right: 5px;
}

.git {
   margin-right: 5px;
border: 3px solid white;
 border-radius: 50%;
 padding: 6px 8px 6px 8px;
}

.stack {
    border: 3px solid white;
 border-radius: 50%;
 padding: 6px 8px 6px 8px;
}

.header-textwrapper {
    position: relative;
    top: 176px;
left: 5%;
width: 219px;
height: 150px;
color: white;
display:flex;
flex-direction: column;
justify-content: space-around;

}

.header-name-wrapper {    
width: 95%;
font-family: 'Roboto';
font-size: 13px;
letter-spacing: .5px;
display: flex;
justify-content: space-between;

}

.header-name {   
font-weight: bold;
}

.main-header-text {
font: bold 40px/49px 'Montserrat';
}

.plus-more { 
font: Bold 24px/29px 'Montserrat';
white-space: nowrap;
}

.about-me {
    /* position: absolute; */
    /* top: 513px;
    left: -1.0767822265625px; */
    display: flex;
    justify-content: center;
    align-items: center;
width: 100%;
height: 360px;
background: #F4F4F4 0% 0% no-repeat padding-box;
opacity: 1;
z-index: -1;
}

.about-me-text {
    /* position: absolute; 
    top: 58px;
left: 38px; */
width: 80%;
height: 67%;
text-align: left;
font: 17px/29px 'Montserrat';
letter-spacing: 0;
color: #000000;
opacity: 1;
}

.about-dash {
    color: red;
    font-size: 40px;
    position: relative;
    top: 4px;
}
.about-dot {
    color: red;
    font-size: 25px;
    position: relative;
    left: -2px;
    top: 1px;
}

.tech-list {
    /* position: absolute; */
    width: 100%;
height: 342px;
/* left: -1.0767822265625px;
top: 855px; */
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}

.tech-head {
    /* position: absolute; */
    top: 60px;
    /* left: 135px; */
    width: 82px;
height: 33px;
background: #FA382F 0% 0% no-repeat padding-box;
justify-content: center;
display: flex;
align-items: center;
font: Bold 22px/27px 'Montserrat';
letter-spacing: 0;
color: #FFFFFF;
opacity: 1;
}

.tech-list-text {
    /* position: absolute; */
    /* top: 126px; */
    /* left: 36px; */
    width: 80%;
height: 55%;
text-align: center;
font:  17px/29px 'Montserrat';
letter-spacing: 0;
color: #000000;
opacity: 1;
}

.featured-projects {
    /* position: absolute; */
    /* left: -2.2335205078125px;
    top: 1198px; */
width: 100%;
height: 1357px;
background: #F4F4F4 0% 0% no-repeat padding-box;
opacity: 1;
display: flex;
justify-content: center;
}

.featured-head {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    top: 57px;
    left: 53px;
width: 70%;
height: 33px;
background: #FA382F 0% 0% no-repeat padding-box;
opacity: 1;
color: white;
text-align: left;
font: Bold 22px/27px 'Montserrat';
letter-spacing: 0;
color: #FFFFFF;
}